




<!DOCTYPE HTML>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <link rel="icon" type="image/svg+xml" href="image.png" />
  <meta property="og:title" content="Threat Modeling, Zero to Hero ⋅ Threat Modeling" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Threat Modeling" />
  <meta property="og:url" content="https:&#x2F;&#x2F;threatmodel.mjh.social&#x2F;" />
  <meta property="og:description" content="" />
  
  
  <meta property="og:image" content="https://threatmodel.mjh.social/illus.png" />
  
  <title>Threat Modeling, Zero to Hero ⋅ Threat Modeling</title>
  <link rel="stylesheet" href="/site.css" media="all">
  
  <style>
    * {
      --primary: #b3b3b3;

      --accent: #c1272d;
    }
  </style>
</head>

<body>
  <header>
    <h1><a href="/">Threat Modeling</a></h1>
    <img src="image.png" alt="They set us up the bomb!" style="border: none; width: 50px;" />
  </header>
  
  <main>
    
    
    <h1>Threat Modeling, Zero to Hero</h1>
    
    

<h2 id="introduction">Introduction</h2>
<p>This is a course on Threat Modeling from Zero to Hero as requested by the We Hack Purple community. The goal of this course is to provide the student with a sufficient background to utilize the provided resources and continue their studies and practically apply the techniques described herein. Each section will consist of a series of relevant topics with examples and exercises for the student. </p>
<h2 id="threat-model-vs-risk-assessment">Threat Model vs Risk Assessment</h2>
<p>A Threat Model can stand on it's own or it can be integrated into a larger <a href="./risk/">Risk Assessment</a>.</p>
<p>Risk Assessments typically consist of the following areas, those in bold overlap and complement each other: </p>
<ol>
<li>System Characterization and <b>Identifcation of Assets</b></li>
<li><b>Threat Identification</b></li>
<li><b>Vulnerability Identification</b></li>
<li>Control Analysis</li>
<li><b>Likelihood and Impact Determination</b></li>
<li>Risk Determination and Recommendations</li>
</ol>
<p>These are delivered in a Risk Assessment Report and utilize the Threat Modeling to determine individual risks, vulnerabilities, and threats, then qualifies them through understanding the risk determination. </p>
<h3 id="threat-identification">Threat Identification</h3>
<p>A Threat Model will typically consist of the Input of: </p>
<ol>
<li>History of system attack, </li>
<li>Data from intelligence agencies (e.g. NIPC, OIG, ISC, FedCIRC, mass media)</li>
<li>Questionnaires and interviews of staff to assess what threats are considered valid by the organization. </li>
<li>Interview stakeholders, data owners and identify supporting systems personnel</li>
</ol>
<p>with the Output of: </p>
<p>Identifying potential threat sources and compiling a threat statement listing potential sources that are applicable to the IT system being evaluated and the threat agent motivation.</p>
<h3 id="vulnerability-identification">Vulnerability Identification</h3>
<p>The purpose of vulnerability identification in the context of a Threat Model is to understand system vulnerabilities (flaws or weaknesses) that could be exploited by the identified threat-sources, typically each vulnerability will pair up well with a specific threat and through analysis of system configurations, previous audits, and low-risk system testing develop a comprehensive list of vulnerabilities to be exploited by the identified threat agents. </p>
<p>Most vulnerability identification phases will consist of gathering</p>
<ol>
<li>Reports from prior risk assessments,</li>
<li>Any audit comments provided regarding the systems in scope and their supporting systems,</li>
<li>Security requirements as determined by the data classification and criticality,</li>
<li>Security testing results from both point-in-time testing, and</li>
<li>Evaluation of system logs. </li>
</ol>
<h3 id="common-techniques">Common Techniques</h3>
<ol>
<li>STRIDE</li>
<li>DREAD</li>
<li>MIL-STD</li>
<li>Resources</li>
</ol>


<ol class="toc">
    
</ol>


    <!-- <% if current_page.data.prev || current_page.data.next %>
        <nav>
          <% if current_page.data.prev %>
            <a href="/<%= current_page.data.prev %>">⇦ Previous Page</a>
          <% end%>
          <% if current_page.data.next %>
            <a href="/<%= current_page.data.next %>">Next Page ⇨</a>
          <% end%>
        </nav>
        <% end %> -->
  </main>
  <footer>
    <p>Copyright &copy;2023 </p>
    <p>Matthew J. Harmon. Natascha E. Shawver. </p>
  </footer>
  <script src="/theme.js"></script>
</body>

</html>
