




<!DOCTYPE HTML>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSubDomains" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'" />
  <meta http-equiv="X-Frame-Options" content=" "SAMEORIGIN" always;" />
  <meta http-equiv="X-Content-Type-Options" content=""nosniff" always;" />
  <meta http-equiv="Referrrer-Policy" content="no-referrer-when-downgrade" />
  <meta http-equiv="Permissions-Policy" content="geolocation=(self "https://threatmodel.mjh.social"), microphone=()" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <link rel="icon" type="image/svg+xml" href="..&#x2F;image.png" />
  <meta property="og:title" content="Threat Modeling, as a part of a Risk Assessment ⋅ Threat Modeling" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Threat Modeling" />
  <meta property="og:url" content="https:&#x2F;&#x2F;threatmodel.mjh.social&#x2F;risk&#x2F;" />
  <meta property="og:description" content="" />
  
  
  <meta property="og:image" content="https://threatmodel.mjh.social/illus.png" />
  
  <title>Threat Modeling, as a part of a Risk Assessment ⋅ Threat Modeling</title>
  <link rel="stylesheet" href="/site.css" media="all">
  
  <style>
    * {
      --primary: #b3b3b3;

      --accent: #c1272d;
    }
  </style>
</head>

<body>
  <header>
    <h1><a href="/">Threat Modeling</a></h1>
    <img src="..&#x2F;image.png" alt="They set us up the bomb!" style="border: none; width: 50px;" />
  </header>
  
  <main>
    
    
    
    
    <a href="https:&#x2F;&#x2F;threatmodel.mjh.social&#x2F;">Threat Modeling, Zero to Hero</a>
    
    <h1>Threat Modeling, as a part of a Risk Assessment</h1>
    
    




    



    
    

<h2 id="introduction">Introduction</h2>
<p>Risk Assessments are a simple way in which organizations, projects, and people can evaluate, categorize, and mitigate risks through control measures.</p>
<h2 id="risk-assessment-components">Risk Assessment Components</h2>
<p>Risk Assessments typically consist of the following areas: </p>
<ol>
<li>System Characterization and Identifcation of Assets</li>
<li>Threat Identification</li>
<li>Vulnerability Identification</li>
<li>Control Analysis</li>
<li>Likelihood and Impact Determination</li>
<li>Risk Determination and Recommendations</li>
</ol>
<p>These are delivered in a Risk Assessment Report and utilize the Threat Modeling </p>



    <nav>
        
            <a href="https:&#x2F;&#x2F;threatmodel.mjh.social&#x2F;">⇦ Previous Page</a>
        
        
        
    </nav>



    <!-- <% if current_page.data.prev || current_page.data.next %>
        <nav>
          <% if current_page.data.prev %>
            <a href="/<%= current_page.data.prev %>">⇦ Previous Page</a>
          <% end%>
          <% if current_page.data.next %>
            <a href="/<%= current_page.data.next %>">Next Page ⇨</a>
          <% end%>
        </nav>
        <% end %> -->
  </main>
  <footer>
    <p>Copyright &copy;2023 </p>
    <p>Matthew J. Harmon. Natascha E. Shawver. </p>
    <p>This site is a work in progress as of 2023-12-21, please be kind with your <a href="mailto:social-feedback@mjh.email">feedback</a></p>
  </footer>
  <script src="/theme.js"></script>
</body>

</html>
